@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.flex-all-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 4px 10px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.btn:hover{
    background-color: rgb(223, 219, 219);
}

